<section class="page-content" data-title="About us">
	<h1 class="title">About us</h1>

	<h2>Qui sommes-nous ?</h2>

	<p>Nous sommes 2 étudiants en première année de DUT Informatique à l'Université Lyon 1, sur le campus de la Doua, Villeurbanne.</p>

	<p>Dans le cadre d'un projet durant le Semestre 1, nous avons dû réaliser un site marchand factice. Il doit être possible de naviguer parmi les pages suivantes :</p>

	<ul>
		<li>une page d'accueil</li>
		<li>une page affichant les résultats d'une recherche</li>
		<li>une page détaillant chaque article</li>
		<li>une page permettant la validation d'une commande</li>
		<li>une page qui présente le projet</li>
	</ul>

	<p>Vous pouvez retrouver les consignes du projet à <a href="https://perso.liris.cnrs.fr/pchampin/enseignement/intro-web/projet.html" target="_blank">cette adresse</a>.</p>

	<h2>Le site</h2>

	<p>Sur Grasshopper Shop, vous pouvez acheter des sauterelles vivantes ou griléles. Toutes nos sauterelles sont élevées en respectant les labels écologiques. Aussi, vous retrouverez les différents équipements nécessaires à l'entretien et l'élevage de votre insecte de compagnie.</p>

	<p class="thank">L'équipe de Grasshoper Shop et toutes les sauterelles recueillies vous remercient de la confiance que vous lui accordez.</p>

</section>
