<section class="page-content" data-title="Contact">
	<h1 class="title">Contact us</h1>

	<h2>Comment nous contacter ?</h2>

	<div class="contact-content">
		<p>Plusieurs possibilités s'offrent à vous pour contacter Grasshoper Shop.</p>
	</div>

	<h3>En utilisant ces coordonnées</h3>

	<div class="contact-content">
		<ul class="contact-list">
			<li class="contact-list-element">Par e-mail : <a href="">grasshoper.shop@blabla.com</a></li>
			<li class="contact-list-element">Par téléphone : <a href="">+33 9 67 04 68 33</a></li>
			<li class="contact-list-element">Adresse : 94 Avenue des sauterelles, 69003, Lyon sur Sauterelle, FRANCE</li>
		</ul>
	</div>

	<h3>En utilisant le formulaire de contact</h3>

	<div id="sent">
		<p>Votre message a bien été envoyé. L'équipe Sauterelle vous remercie d'avoir utilisé ses services.</p>
	</div>


	<form class="contact-form" action="#sent" method="post">
		<div class="contact-form-input">
			<label>Nom</label>
			<div><input type="text" required name="name" placeholder="Votre nom"></div>
		</div>

		<div class="contact-form-input">
			<label>Prénom</label>
			<div><input type="text" required name="first-name" placeholder="Votre prénom"></div>
		</div>

		<div class="contact-form-input">
			<label>Adresse mail</label>
			<div><input type="email" required name="email" placeholder="Votre adresse mail"></div>
		</div>

		<div class="contact-form-message">
			<label>Message</label>
			<div><textarea rows="4" cols="50" required placeholder="Saisissez votre message pour entrer en communication avec nos services"></textarea></div>
		</div>

		<div class="contact-form-button"><button>Envoyer</button></div>
	</form>
	
</section>