<section class="page-content" data-title="Sauterelles">
<div class="product-page grasshopper-product-page" id="dead">

	<h1>Sauterelles</h1>

	<div class="declinaison-selector">

		<label>
			<a href="#dead" class="dead-grasshopper-link">Sauterelle prégrillée</a>
			<a href="#">Sauterelle vivante</a>
		</label>

	</div>

	<div class="product-presentation">

		<div class="image-selector product-image">

			<div class="large-container">
				<img id="large-1" alt="Large image 1" class="large" src="assets/img/grasshopper-1.jpg" />
				<img id="large-2" alt="Large image 2" class="large" src="assets/img/grasshopper-2.jpg" />
				<img id="large-3" alt="Large image 3" class="large default-image" src="assets/img/grasshopper-3.jpg" />
			</div>


			<a href="#large-1"><img class="thumb" alt="Small image 1" src="assets/img/grasshopper-1.jpg" /></a>
			<a href="#large-2"><img class="thumb" alt="Small image 2" src="assets/img/grasshopper-2.jpg" /></a>
			<a href="#large-3"><img class="thumb" alt="Small image 3" src="assets/img/grasshopper-3.jpg" /></a>

		</div>

		<div class="dead-grasshopper-placeholder product-image">
			<img alt="Dead grasshopper image" src="assets/img/dead-grasshopper.jpg">
		</div>

		<section class="product-description alive-grasshopper-description">
			<h2>Sauterelle vivantes</h2>
			<div class="product-price">5€ le kilo</div>
			<div class="product-small-description">Sauterelles vivantes élevées par nos soins.</div>

			<a class="add-to-cart-button" href="#added_to_cart">Ajouter au panier</a>
		</section>

		<section class="product-description dead-grasshopper-description">
			<h2>Sauterelle prégrillées</h2>
			<div class="product-price">7€ le kilo</div>
			<div class="product-small-description">Sauterelles précuites. A faire cuire quelques minutes seulement dans votre four avant de servir.</div>

			<a class="add-to-cart-button" href="#added_to_cart">Ajouter au panier</a>
		</section>

	</div>

	<!-- Product added to cart notice -->
	<div class="product-added-to-cart-notice" id="added_to_cart">
		<div class="product-added-to-cart-message-box">
			<h2>Panier mis &agrave; jour</h2>

			<p>Vous pouvez <a href="panier.html">Ouvrir le panier</a> ou <a href="#">retourner sur la page</a>.</p>
		</div>
	</div>

	<section class="product-comments">
		<h2>Commentaires clients</h2>

		<div class="comments-list">

			<div class="comment comment-dead">
				<div class="comment-author">John PasVegan</div>
				<div class="comment-title">Un excellent produit</div>
				<div class="comment-content">Je vous recommande leur excellentes sauterelles prégrillées. Le mariage avec le Ketchup est juste excellent (ou avec la mayonnaise si vous en avez...)</div>
			</div>

			<div class="comment comment-alive">
				<div class="comment-author">Arthur LeVengeur</div>
				<div class="comment-title">Préférez-les natures</div>
				<div class="comment-content">Pour avoir testé les deux déclinaisons du produit (en version vivante et en version précuite) je les ai nettement préférées natures et crues, accompagnées de quelques feuilles de salade.</div>
			</div>

			<div class="comment comment-alive">
				<div class="comment-author">Bertrand LeVert</div>
				<div class="comment-title">Parfaites pour l'élevage</div>
				<div class="comment-content">Ces petites créatures sont parfaitement calibrées pour un élevage intensif. Livraison rapide, service client réactif et patient. Un sans-faute.</div>
			</div>
		</div>

		<!-- Add a comment form -->
		<form class="comment-form" method="post">
			<h2>Envoi d'un commentaire</h2>
			<p>Note : nous vérifions l'ensemble des commentaires publiés par l'intermédiaire de ce formulaire.</p>
			<p><label>Nom <input type="text" placeholder="Votre nom" /></label></p>
			<p><label>Commentaire: <textarea placeholder="Commentaire..."></textarea></label></p>
			<p><input type="submit" name="Envoyer"></p>
		</form>

	</section>
</div>
</section>