<section class="page-content" data-title="Produits spéciaux">
<div class="product-page grasshopper-product-page" id="dead">

	<h1>Produits spéciaux</h1>

	<div class="special-products-list">
		<div  class="product">
			<div>
				<img alt="Image sauterelle Star Wars" src="assets/img/sw-grasshopper.jpg" />
			</div>

			<div class="special-product-description">
				<div class="product-name">Sauterelle Star Wars</div>
				<div class="product-price">42€ / unité</div>

				<p>En exclusivité sur Grasshopper Shop, le premier produit né de la collaboration de Disney et votre équipe Sauterelles favorite, Grasshopper Shop : une sauterelle Star Wars ! Né du côté obscur de la force, cette sauterelle démoniaque portant un incroyable casque volé de son père Darth Hopper lors du terrible combat des grandes plaines de WeedLand. C'est en ce jour que Luke GrassWalker triompha de son père : Anakin.</p>
				<p>Retrouvez cet incroyable produit, coup de coeur de nombreux clients pour SEULEMENT 42€ l'unité au lieu de 70€, avec le casque de Darth Hopper fourni à l'aide d'un code de réduction !</p>
			</div>
		</div>

		<div class="product">
			<div>
				<img alt="Image université pour sauterelle" src="assets/img/grasshopper-university.jpg" />
			</div>

			<div class="special-product-description">

				<div class="product-name">Université pour sauterelles</div>
				<div class="product-price">4000€ / an</div>

				<p>Né d'un partenariat étroit entre les Universités de Californie et Grasshopper Shop, nous vous présentons aujourd'hui la nouvelle école de San Francisco pour sauterelles ! Actuellement mieux classée que le MIT, Harvard et Princeton, cette université saura promulguer à votre sauterelles les joies de l'apprentissage, l'assiduité, et la rigueur. N'hésitez plus !</p>
			</div>
		</div>
	</div>



	<!-- Product added to cart notice -->
	<div class="product-added-to-cart-notice" id="added_to_cart">
		<div class="product-added-to-cart-message-box">
			<h2>Panier mis &agrave; jour</h2>

			<p>Vous pouvez <a href="panier.html">Ouvrir le panier</a> ou <a href="#">retourner sur la page</a>.</p>
		</div>
	</div>

	<section class="product-comments">

		<!-- Add a comment form -->
		<form class="comment-form" method="post">
			<h2>Envoi d'un commentaire</h2>
			<p>Note : nous vérifions l'ensemble des commentaires publiés par l'intermédiaire de ce formulaire.</p>
			<p><label>Nom <input type="text" placeholder="Votre nom" /></label></p>
			<p><label>Commentaire: <textarea placeholder="Commentaire..."></textarea></label></p>
			<p><input type="submit" name="Envoyer"></p>
		</form>

	</section>
</div>
</section>