<section class="page-content" data-title="terms">
	<h1 class="title">Conditions Générales de Ventes</h1>

	<h2>Clause n°1 : Objet</h2>

	<div>
		<p> Les conditions générales de ventes décrites ci-après détaillent les droits et obligations de l'entreprise Grasshopper Shop et de ses clients dans le cadre de la vente des marchandises suivantes :</p>
		<ul>
			
		</ul>

		<p>Toute prestation accomplie par la société Grasshopper Shop implique l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.</p>
	</div>

	<h2>Clause n°2 : Présentation des produits</h2>

	<div>
		<p>Les caractéristiques des produits proposés à la vente sont présentées dans la rubrique "Sauterelles" de notre site. Les photographies n'entrent pas dans le champ contractuel. La responsabilité de la société Grasshopper Shop ne peut être engagée si des erreurs s'y sont introduites. Tous les textes et images présentés sur le site de la société Grasshopper Shop sont réservés, pour le monde entier, au titre des droits d'auteur et de propriété intellectuelle; leur reproduction, même partielle, est strictement interdite. </p>
	</div>

	<h2>Clause n°3 : Durée de validité des offres de vente</h2>

	<div>
		<p>Les produits sont proposés à la vente jusqu'à épuisement du stock. En cas de commande d'un produit devenu indisponible, le client sera informé de cette indisponibilité, dans les meilleurs délais, par courrier électronique ou par courrier postal.</p>
	</div>

	<h2>Clause n°4 : Prix des produits</h2>

	<div>
		<p> La rubrique "Sauterelles" de notre site indique les prix en euros toutes taxes comprises, hors frais de port. Le montant de la TVA est précisé lors de la sélection d'un produit par le client et les frais de port apparaissent sur l'écran à la fin de la sélection des différents produits par le client.</p>

		<p>La société Grasshopper Shop se réserve le droit de modifier ses prix à tout moment mais les produits commandés sont facturés au prix en vigueur lors de l'enregistrement de la commande.</p>

		<p>Les tarifs proposés comprennent les rabais et ristournes que l'entreprise Grasshopper Shop serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations.</p>

		<p>Aucun escompte ne sera accordé en cas de paiement anticipé. </p>
	</div>

	<h2>Clause n°5 : Commande</h2>

	<div>
		<p> Le client valide sa commande lorsqu'il active le lien "Confirmez votre commande" en bas de la page "Récapitulatif de votre commande" après avoir accepté les présentes conditions de vente. Avant cette validation, il est systématiquement proposé au client de vérifier chacun des éléments de sa commande; il peut ainsi corriger ses erreurs éventuelles.</p>

		<p>La société Grasshopper Shop confirme la commande par courrier électronique; cette information reprend notamment tous les éléments de la commande et le droit de rétractation du client.</p>

		<p>Les données enregistrées par la société Grasshopper Shop constituent la preuve de la nature, du contenu et de la date de la commande. Celle-ci est archivée par la société Grasshopper Shop dans les conditions et les délais légaux; le client peut accéder à cet archivage en contactant le service Relations Clients.</p>
	</div>

	<h2>Clause n°6 : Modalités de paiement</h2>

	<div>
		<p> Le règlement des commandes s'effectue par carte bancaire.</p>

		<p>Lors de l'enregistrement de la commande, l'acheteur devra verser un acompte de 10 % du montant global de la facture, le solde devant être payé à réception des marchandises.</p>
	</div>

	<h2>Clause n°7 : Délai de rétractation</h2>

	<div>
		<p>L'Acheteur dispose d'un délai de quatorze jours francs, à compter de la réception des produits, pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités, à l'exception, le cas échéant, des frais de retour. Si le délai de quatorze jours vient à expirer un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant.</p>
		<p>En cas d'exercice du droit de rétractation, la société rembourse l'Acheteur de la totalité des sommes versées, dans les meilleurs délais et au plus tard dans les quatorze jours suivant la date à laquelle ce droit a été exercé.</p>
	</div>

	<h2>Clause n°8 : Retard de paiement</h2>

	<div>
		<p>En cas de défaut de paiement total ou partiel des marchandises livrées au jour de la réception, l'acheteur doit verser à l'entreprise Grasshopper Shop une pénalité de retard égale à une fois et demi le taux de l'intérêt légal.</p>
		<p>Le taux de l'intérêt légal retenu est celui en vigueur au jour de la livraison des marchandises.</p>
		<p>Cette pénalité est calculée sur le montant hors taxes de la somme restant due, et court à compter de la date d'échéance du prix sans qu'aucune mise en demeure préalable ne soit nécessaire.</p>
		<p>Conformément aux articles 441-6 c. com. et D. 441-5 c. com., tout retard de paiement entraîne de plein droit, outre les pénalités de retard, une obligation pour le débiteur de payer une indemnité forfaitaire de 40€ pour frais de recouvrement.</p>
		<p>Une indemnité complémentaire pourra être réclamée, sur justificatifs, lorsque les frais de recouvrement exposés sont supérieurs au montant de l'indemnité forfaitaire.</p>
	</div>

	<h2>Clause n°9 : Livraison</h2>

	<div>
		<p>Tout produit est livré sans garantie quant aux délais, exception faite des livraisons aux particuliers. La date limite de livraison varie suivant leur adresse. Elle est fixée, pour une adresse en France métropolitaine, au jour du paiement + 8 jours et, pour les autres destinations, au jour du paiement + 1 mois. </p>
	</div>

	<h2>Clause n°10 : Relations clients - Services après-vente</h2>

	<div>
		<p>Pour toute information, question ou réclamation, le client peut s'adresser au service Relations Clients de la société, disponible <a href="contact.html">ici</a>.</p>
	</div>
</section>
